/* first css reset */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* let's style */

.calculator {
  /* we gonna make it center and a no matter what never change */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  padding-top: 75px;
  /* so we can use auto margins for centering too but let's use older days */
  background-color: black;
  border: 2px solid red;
  border-radius: 25px;
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: white;
  color: black;
  text-align: right;
  padding-right: 10px;
  border: 2px solid green;
}

.calculator-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px 15px 5px 15px;
  border: 2px solid yellow;
}

button {
    height: 60px;
    background-color: white;
    border: none;
    color: black;
    border-radius: 30px;
    font-size: 4rem;
    font-weight: bold;
    margin: 7px;
    padding: 5px;
    flex: 1 0 18%;
}

.all-clear{
    background-color: red;
    color: white;
    font-size: 3rem;
}
